.post-in-list {
    height: 40px;
    border-left: 5px solid blue;
    padding-left: 10px;
}

.author {
    color: goldenrod;
}

.comment {
    border-left: 5px solid blue;
    margin-left: 5px;
    margin-top: 10px;
    padding-left: 5px;
}

.collapsed {
    background-color: lightgray;
}

.searchbar {
}

.spinner {
    margin: 100px;
}

.field {
    margin: 10px;
}